
.container{
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}
.inner-container{
    margin: 50px;
}
.featured{
    font-weight: bold;
    text-align: center;
}
.featured2{
    border-radius: 10px;
    transition: 1s;
    height: 350px;
    width: 580px;
    margin: 15px;
}
.featured2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.row{
    text-align: center;
    padding: 30px;
}
.Featured{
    background: #D9D9D9;
}

@media only screen and (min-width: 300px) and (max-width: 600px){
    .inner-container{
        text-align: center;
    }
    .col{
    }
    .featured2{
        border-radius: 10px;
        height: 150px;
        width: 250px;
    }
}