.footer-background{
    height: 480px;
    padding: 0px;
    margin: auto;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #feb10d;
}
.footer-container{
    background-image: url("./website_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-div{
    padding-top: 40px;
    padding-left: 200px;
}
.row2{
    color: #ffaa01;
}
.row3{
    color: #ffaa01;
}
.header-left{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
.header-right{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
.row4{
    text-align: right;
}
.column-middle{
    text-align: right;
    padding-top: 5px;
}
.column-middle-links{
    text-align: right;
}
.column-links{
    padding-top: 8px;
    text-align: left;
}
.column-left-info{
    text-align: left;
}
.info-icon{
    margin-right: 5px;
}
.info-para{
    font-size: 18px;
}
.fbicon{
    background-image: url("./Facebook_Icon.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.facebook-footer{
    color:#ffaa01;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.facebook-footer:hover{
    color: #42B7FF;
    transition: 200ms ease-in;
}
.facebook-footer:hover .fbicon{
    background-image: url("./Facebook_Hover.png");
    transition: 200ms ease-in;
}
.shicon{
    background-image: url("./Shopee_Icon.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.shopee-footer{
    color:#ffaa01;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.shopee-footer:hover{
    color: #ff3939;
    transition: 200ms ease-in;
}
.shopee-footer:hover .shicon{
    background-image: url("./Shopee_Hover.png");
    transition: 200ms ease-in;
}
.laicon{
    background-image: url("./Lazada_Icon.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.lazada-footer{
    color:#ffaa01;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.lazada-footer:hover{
    color: #ff7301;
    transition: 200ms ease-in;
}
.lazada-footer:hover .laicon{
    background-image: url("./Lazada_Hover.png");
    transition: 200ms ease-in;
}
.follow-us{
    color: #ffaa01;
    font-size: 15px;
    font-weight: bold;
}
.follow-us-fb{
    background-image: url("./facebook_footer.png");
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: #ffaa01;
    border-radius: 50%;
    margin-right: 10px;
}
.follow-us-fb:hover{
    background-color: #42B7FF;
    transition: 200ms ease-in;
}
.follow-us-ig{
    background-image: url("./instagram_footer.png");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffaa01;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.follow-us-ig:hover{
    background-color: #b71dff;
    transition: 200ms ease-in;
}
.follow-us-tk{
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffaa01;
    height: 30px;
    width: 30px;
    border: 0cm;
    margin-right: 10px;
    box-shadow: none;
}
.follow-us-tk:hover{
    background-color:#000;
    transition: 200ms ease-in;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {
    .footer-background{
        height: 735px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: 225px;
        background-size: 375px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 150px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 130px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {
    .footer-background{
        height: 735px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: 230px;
        background-position-x: 30px;
        background-size: 375px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 150px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 130px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {
    .footer-background{
        height: 734px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: 230px;
        background-position-x: 75px;
        background-size: 375px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 150px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 130px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 500px) {
    .footer-background{
        height: 720px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: 215px;
        background-position-x: 130px;
        background-size: 375px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .column-left{
        margin-left: -180px;
    }
    .column-right{
        margin-left: -35px;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 150px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
        margin-left: -100px;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 90px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 550px) {
    .footer-background{
        height: 720px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: 215px;
        background-position-x: 170px;
        background-size: 375px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .column-left{
        margin-left: -100px;
    }
    .column-right{
        margin-left: -100px;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 150px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
        margin-left: -100px;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 90px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
    .footer-background{
        height: 435px;
        width: 925px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: -15px;
        background-position-x: 335px;
        background-size: 335px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .column-left{
        margin-left: -300px;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 80px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 800px) and (max-width: 900px) {
    .footer-background{
        height: 435px;
        width: 925px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: -15px;
        background-position-x: 385px;
        background-size: 335px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .column-left{
        margin-left: -300px;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 80px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1000px) {
    .footer-background{
        height: 435px;
        width: 1105px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: -15px;
        background-position-x: 385px;
        background-size: 335px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .column-left{
        margin-left: -320px;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 80px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
    .footer-background{
        height: 435px;
        width: 1105px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: url("./footer_horizontal.png");
        background-position-y: -15px;
        background-position-x: 620px;
        background-size: 335px;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .column-left{
        margin-left: -190px;
    }
    .column-right{
        margin-left: -80px;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .follow-us-column{
        margin-left: -100px;
    }
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        margin-right: 10px;
        text-align: left;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 15px;
        background-position: center;
        height: 15px;
        width: 15px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 15px;
        background-position: center;
        height: 18px;
        width: 18px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 15px;
        background-position: center;
        height: 15px;
        width: 15px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
    .footer-background{
        height: 410px;
        padding: 0px;
        margin: auto;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        background-color: #feb10d;
    }
    .footer-container{
        background-image: url("./website_footer.png");
        background-size: 1160px;
        background-repeat: no-repeat;
    }
    .footer-div{
        padding-top: 30px;
        padding-left: 180px;
    }
    .row1{
    }
    .row2{
        color: #ffaa01;
    }
    .row3{
        color: #ffaa01;
    }
    .header-left{
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .header-right{
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .row4{
        text-align: right;
    }
    .column-middle{
        text-align: right;
        padding-top: 5px;
    }
    .column-middle-links{
        text-align: right;
    }
    .column-links{
        padding-top: 8px;
        text-align: left;
    }
    .column-left-info{
        text-align: left;
    }
    .info-icon{
        margin-right: 5px;
    }
    .info-para{
        font-size: 15px;
    }
    .fbicon{
        background-image: url("./Facebook_Icon.png");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .facebook-footer{
        color:#ffaa01;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .facebook-footer:hover{
        color: #42B7FF;
        transition: 200ms ease-in;
    }
    .facebook-footer:hover .fbicon{
        background-image: url("./Facebook_Hover.png");
        transition: 200ms ease-in;
    }
    .shicon{
        background-image: url("./Shopee_Icon.png");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .shopee-footer{
        color:#ffaa01;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shopee-footer:hover{
        color: #ff3939;
        transition: 200ms ease-in;
    }
    .shopee-footer:hover .shicon{
        background-image: url("./Shopee_Hover.png");
        transition: 200ms ease-in;
    }
    .laicon{
        background-image: url("./Lazada_Icon.png");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .lazada-footer{
        color:#ffaa01;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .lazada-footer:hover{
        color: #ff7301;
        transition: 200ms ease-in;
    }
    .lazada-footer:hover .laicon{
        background-image: url("./Lazada_Hover.png");
        transition: 200ms ease-in;
    }
    .follow-us-column{
    }
    .follow-us{
        color: #ffaa01;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url("./facebook_footer.png");
        background-size: 20px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-fb:hover{
        background-color: #42B7FF;
        transition: 200ms ease-in;
    }
    .follow-us-ig{
        background-image: url("./instagram_footer.png");
        background-size: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        border-radius: 5px;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    .follow-us-ig:hover{
        background-color: #b71dff;
        transition: 200ms ease-in;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        height: 20px;
        width: 20px;
        border: 0cm;
        margin-right: 10px;
        border-radius: 50%;
    }
    .follow-us-tk:hover{
        background-color:#000;
        transition: 200ms ease-in;
    }
}