.footer-background{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #feb10d;
}
.footer-container{
    background-image: url("./website_footer.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-div{
    padding-top: 40px;
    padding-left: 200px;
}
.row2{
    color: #ffaa01;
}
.row3{
    color: #ffaa01;
}
.header-left{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
.header-right{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 10px;
}
.row4{
    text-align: right;
}
.column-middle{
    text-align: right;
    padding-top: 5px;
}
.column-middle-links{
    text-align: right;
}
.column-links{
    padding-top: 8px;
    text-align: left;
}
.column-left-info{
    text-align: left;
}
.info-icon{
    margin-right: 5px;
}
.info-para{
    font-size: 18px;
}
.fbicon{
    background-image: url("./Facebook_Icon.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.facebook-footer{
    color:#ffaa01;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.facebook-footer:hover{
    color: #42B7FF;
    transition: 200ms ease-in;
}
.facebook-footer:hover .fbicon{
    background-image: url("./Facebook_Hover.png");
    transition: 200ms ease-in;
}
.shicon{
    background-image: url("./Shopee_Icon.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.shopee-footer{
    color:#ffaa01;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.shopee-footer:hover{
    color: #ff3939;
    transition: 200ms ease-in;
}
.shopee-footer:hover .shicon{
    background-image: url("./Shopee_Hover.png");
    transition: 200ms ease-in;
}
.laicon{
    background-image: url("./Lazada_Icon.png");
    background-size: 35px;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.lazada-footer{
    color:#ffaa01;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
}
.lazada-footer:hover{
    color: #ff7301;
    transition: 200ms ease-in;
}
.lazada-footer:hover .laicon{
    background-image: url("./Lazada_Hover.png");
    transition: 200ms ease-in;
}
.follow-us{
    color: #ffaa01;
    font-size: 15px;
    font-weight: bold;
}
.follow-us-fb{
    background-image: url("./facebook_footer.png");
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-color: #ffaa01;
    border-radius: 50%;
    margin-right: 10px;
}
.follow-us-fb:hover{
    background-color: #42B7FF;
    transition: 200ms ease-in;
}
.follow-us-ig{
    background-image: url("./instagram_footer.png");
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffaa01;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.follow-us-ig:hover{
    background-color: #b71dff;
    transition: 200ms ease-in;
}
.follow-us-tk{
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffaa01;
    height: 30px;
    width: 30px;
    border: 0cm;
    margin-right: 10px;
    box-shadow: none;
}
.follow-us-tk:hover{
    background-color:#000;
    transition: 200ms ease-in;
}

@media (max-width: 480px) {
    .footer-background{
        width: 100%;
        height: 100%;
        background-image: url("./footer_horizontal.png");
        background-position-y: 180px;
        background-repeat: no-repeat;
        background-size: 450px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: none;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 150px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 130px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}
  
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    .footer-background{
        width: 100%;
        height: 100%;
        background-image: url("./footer_horizontal.png");
        background-position-y: 100px;
        background-position-x: 100px;
        background-repeat: no-repeat;
        background-size: 450px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: none;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 20px;
        text-align: left;
    }
    .info-para{
        font-size: 14px;
        text-align: left;
    }
    .header-right{
        font-size: 20px;
        text-align: left;
    }
    .column-links{
        font-size: 15px;
        text-align: left;
        margin-right: 300px;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 20px;
        width: 20px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 130px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}
  
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 850px){
    .footer-background{
        width: 100%;
        height: 100%;
        background-image: url("./footer_horizontal.png");
        background-position-y: -130px;
        background-position-x: 430px;
        background-repeat: no-repeat;
        background-size: 400px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: none;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-left: -230px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 18px;
        text-align: left;
    }
    .info-para{
        font-size: 12px;
        text-align: left;
    }
    .header-right{
        font-size: 18px;
        text-align: left;
    }
    .column-links{
        font-size: 12px;
        text-align: left;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 18px;
        width: 18px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 18px;
        width: 18px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 18px;
        width: 18px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 50px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}

@media (min-width: 851px) and (max-width: 1023px){
    .footer-background{
        width: 100%;
        height: 100%;
        background-image: url("./footer_horizontal.png");
        background-position-y: -100px;
        background-position-x: 540px;
        background-repeat: no-repeat;
        background-size: 400px;
        background-color: #ffaa01;
    }
    .footer-container{
        background-image: none;
    }
    .footer-div{
        display: flex;
        flex-direction: row-reverse;
        margin-left: -230px;
    }
    .row2{
        color: #fff;
    }
    .row3{
        color: #fff;
    }
    .header-left{
        font-size: 18px;
        text-align: left;
    }
    .info-para{
        font-size: 12px;
        text-align: left;
    }
    .header-right{
        font-size: 18px;
        text-align: left;
    }
    .column-links{
        font-size: 12px;
        text-align: left;
    }
    .row3{
        color: #fff;
    }
    .fbicon{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 18px;
        width: 18px;
    }
    .facebook-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shicon{
        background-image: url("./Shopee_Icon_Horizontal.png");
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 18px;
        width: 18px;
    }
    .shopee-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .laicon{
        background-image: url("./Lazada_Icon_Horizontal.png");
        background-size: 18px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 18px;
        width: 18px;
    }
    .lazada-footer{
        color:#fff;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    
    .column-middle{
        text-align: left;
    }
    .column-middle-links{
        text-align: left;
        margin-right: 50px;
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url('./Facebook_Icon_Horizontal.png');
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-ig{
        background-image: url('./Instagram_Icon_Horizontal.png');
        background-size: 17px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        padding: 3px;
        border-radius: 9px;
        margin-right: 10px;
    }
    .follow-us-tk{
        background-size: 20px;
        background-position: center;
        height: 20px;
        width: 20px;
        background-color: #ffaa01;
        border-radius: 8px;
        margin-right: 10px;
    }
}
  
/* Media Query for Laptops and Desktops */
@media (min-width: 1024px) and (max-width: 1279px){
    .footer-background{
        height:100%;
        padding: 0px;
        margin: auto;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        background-color: #feb10d;
    }
    .footer-container{
        background-image: url("./website_footer.png");
        background-size: 980px;
        background-repeat: no-repeat;
    }
    .footer-div{
        padding-top: 0px;
        padding-left: 125px;
    }
    .row1{
    }
    .row2{
        color: #ffaa01;
    }
    .row3{
        color: #ffaa01;
    }
    .header-left{
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .header-right{
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
    }
    .row4{
        text-align: right;
    }
    .column-middle{
        text-align: right;
        padding-top: 5px;
    }
    .column-middle-links{
        text-align: right;
    }
    .column-links{
        padding-top: 8px;
        text-align: left;
    }
    .column-left-info{
        text-align: left;
    }
    .info-icon{
        margin-right: 5px;
    }
    .info-para{
        font-size: 15px;
    }
    .fbicon{
        background-image: url("./Facebook_Icon.png");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .facebook-footer{
        color:#ffaa01;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .facebook-footer:hover{
        color: #42B7FF;
        transition: 200ms ease-in;
    }
    .facebook-footer:hover .fbicon{
        background-image: url("./Facebook_Hover.png");
        transition: 200ms ease-in;
    }
    .shicon{
        background-image: url("./Shopee_Icon.png");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .shopee-footer{
        color:#ffaa01;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .shopee-footer:hover{
        color: #ff3939;
        transition: 200ms ease-in;
    }
    .shopee-footer:hover .shicon{
        background-image: url("./Shopee_Hover.png");
        transition: 200ms ease-in;
    }
    .laicon{
        background-image: url("./Lazada_Icon.png");
        background-size: 25px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 25px;
        width: 25px;
        margin-right: 10px;
    }
    .lazada-footer{
        color:#ffaa01;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }
    .lazada-footer:hover{
        color: #ff7301;
        transition: 200ms ease-in;
    }
    .lazada-footer:hover .laicon{
        background-image: url("./Lazada_Hover.png");
        transition: 200ms ease-in;
    }
    .follow-us-column{
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-fb:hover{
        background-color: #42B7FF;
        transition: 200ms ease-in;
    }
    .follow-us-ig{
        background-image: url("./instagram_footer.png");
        background-size: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    .follow-us-ig:hover{
        background-color: #b71dff;
        transition: 200ms ease-in;
    }
    .follow-us-tk{
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        height: 20px;
        width: 20px;
        border: 0cm;
        margin-right: 10px;
        border-radius: 50%;
    }
    .follow-us-tk:hover{
        background-color:#000;
        transition: 200ms ease-in;
    }
}

@media (min-width: 1280px) and (max-width: 1300px){
    .footer-background{
        height:100%;
        padding: 0px;
        margin: auto;
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        background-color: #feb10d;
    }
    .footer-container{
        background-image: url("./website_footer.png");
        background-size: 1150px;
        background-repeat: no-repeat;
    }
    .footer-div{
        padding-top: 25px;
        padding-left: 155px;
    }
    .row1{
    }
    .row2{
        color: #ffaa01;
    }
    .row3{
        color: #ffaa01;
    }
    .header-left{
        font-weight: bold;
        font-size: 28px;
        padding-bottom: 10px;
    }
    .header-right{
        font-weight: bold;
        font-size: 28px;
        padding-bottom: 10px;
    }
    .row4{
        text-align: right;
    }
    .column-middle{
        text-align: right;
        padding-top: 5px;
    }
    .column-middle-links{
        text-align: right;
    }
    .column-links{
        padding-top: 8px;
        text-align: left;
    }
    .column-left-info{
        text-align: left;
    }
    .info-icon{
        margin-right: 5px;
    }
    .info-para{
        font-size: 18px;
    }
    .fbicon{
        background-image: url("./Facebook_Icon.png");
        background-size: 30px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .facebook-footer{
        color:#ffaa01;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    .facebook-footer:hover{
        color: #42B7FF;
        transition: 200ms ease-in;
    }
    .facebook-footer:hover .fbicon{
        background-image: url("./Facebook_Hover.png");
        transition: 200ms ease-in;
    }
    .shicon{
        background-image: url("./Shopee_Icon.png");
        background-size: 30px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .shopee-footer{
        color:#ffaa01;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    .shopee-footer:hover{
        color: #ff3939;
        transition: 200ms ease-in;
    }
    .shopee-footer:hover .shicon{
        background-image: url("./Shopee_Hover.png");
        transition: 200ms ease-in;
    }
    .laicon{
        background-image: url("./Lazada_Icon.png");
        background-size: 30px;
        background-repeat: no-repeat;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .lazada-footer{
        color:#ffaa01;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    .lazada-footer:hover{
        color: #ff7301;
        transition: 200ms ease-in;
    }
    .lazada-footer:hover .laicon{
        background-image: url("./Lazada_Hover.png");
        transition: 200ms ease-in;
    }
    .follow-us-column{
    }
    .follow-us{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url("./Facebook_Icon_Horizontal.png");
        background-size: 20px;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-fb:hover{
        background-color: #42B7FF;
        transition: 200ms ease-in;
    }
    .follow-us-ig{
        background-image: url("./instagram_footer.png");
        background-size: 17px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        height: 20px;
        width: 20px;
        margin-right: 10px;
    }
    .follow-us-ig:hover{
        background-color: #b71dff;
        transition: 200ms ease-in;
    }
    .follow-us-tk{
        background-size: 10px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        height: 20px;
        width: 20px;
        border: 0cm;
        margin-right: 10px;
        border-radius: 50%;
    }
    .follow-us-tk:hover{
        background-color:#000;
        transition: 200ms ease-in;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    .footer-background{
        width: 100%;
        font-family: 'Montserrat', sans-serif;
        background-color: #feb10d;
    }
    .footer-container{
        background-image: url("./website_footer.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .footer-div{
        padding-top: 40px;
        padding-left: 200px;
    }
    .row2{
        color: #ffaa01;
    }
    .row3{
        color: #ffaa01;
    }
    .header-left{
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .header-right{
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 10px;
    }
    .row4{
        text-align: right;
    }
    .column-middle{
        text-align: right;
        padding-top: 5px;
    }
    .column-middle-links{
        text-align: right;
    }
    .column-links{
        padding-top: 8px;
        text-align: left;
    }
    .column-left-info{
        text-align: left;
    }
    .info-icon{
        margin-right: 5px;
    }
    .info-para{
        font-size: 18px;
    }
    .fbicon{
        background-image: url("./Facebook_Icon.png");
        background-size: 35px;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    .facebook-footer{
        color:#ffaa01;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    .facebook-footer:hover{
        color: #42B7FF;
        transition: 200ms ease-in;
    }
    .facebook-footer:hover .fbicon{
        background-image: url("./Facebook_Hover.png");
        transition: 200ms ease-in;
    }
    .shicon{
        background-image: url("./Shopee_Icon.png");
        background-size: 35px;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    .shopee-footer{
        color:#ffaa01;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    .shopee-footer:hover{
        color: #ff3939;
        transition: 200ms ease-in;
    }
    .shopee-footer:hover .shicon{
        background-image: url("./Shopee_Hover.png");
        transition: 200ms ease-in;
    }
    .laicon{
        background-image: url("./Lazada_Icon.png");
        background-size: 35px;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 35px;
        width: 35px;
        margin-right: 10px;
    }
    .lazada-footer{
        color:#ffaa01;
        font-size: 18px;
        text-decoration: none;
        font-weight: bold;
    }
    .lazada-footer:hover{
        color: #ff7301;
        transition: 200ms ease-in;
    }
    .lazada-footer:hover .laicon{
        background-image: url("./Lazada_Hover.png");
        transition: 200ms ease-in;
    }
    .follow-us{
        color: #ffaa01;
        font-size: 15px;
        font-weight: bold;
    }
    .follow-us-fb{
        background-image: url("./facebook_footer.png");
        background-size: 30px;
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background-color: #ffaa01;
        border-radius: 50%;
        margin-right: 10px;
    }
    .follow-us-fb:hover{
        background-color: #42B7FF;
        transition: 200ms ease-in;
    }
    .follow-us-ig{
        background-image: url("./instagram_footer.png");
        background-size: 24px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        border-radius: 10px;
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }
    .follow-us-ig:hover{
        background-color: #b71dff;
        transition: 200ms ease-in;
    }
    .follow-us-tk{
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #ffaa01;
        height: 30px;
        width: 30px;
        border: 0cm;
        margin-right: 10px;
        box-shadow: none;
    }
    .follow-us-tk:hover{
        background-color:#000;
        transition: 200ms ease-in;
    }   
}