.carousel-ourproducts{
    margin: 20px;
    height: 700px;
}
.nav-image-ourproducts{
    max-width: 1450px;
    width: 100%;
    max-height: 700px;
    border-radius: 20px;
}

@media only screen and (min-width: 1200px) {
    .carousel-ourproducts{
        text-align: center;
    }
}